body {
    font-family: sans-serif;
    padding: 5px;
}
.biografia {
    
    width: 75%;
    display: inline-block;
    vertical-align:top;
    font-size: 14px;
    
}
.summary {
    
    display:inline-block;
}
.summary-table {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    font-size: 14px;
}
.summary-table thead th {
background-color: #B0C4DE;
}
.summary-table tbody tr:first-child {
    text-align: center;
}
.summary-table tbody th {
text-align: left;
}